<div class="highlight_container" 
     m="y-6"
     font="mono"
     text="gray-800"
     border="~ gray-200"
     rounded="lg"
     overflow="hidden">
    <div class="code-header"
         flex="~ row"
         justify="between"
         items="center"
         p="x-4 y-2"
         border="b gray-200">
        {{ with .Type }}
        <span class="code-language"
              text="sm gray-500"
              font="mono">
            {{ . }}
        </span>
        {{ end }}
    </div>
    <div class="code-wrapper relative"
         p="4">
        {{ $result := transform.HighlightCodeBlock . }}
        {{ $result.Wrapped }}
    </div>
</div>