{{ define "main" }}
<div class="content" p="sm:4 md:6 lg:8">
  <article class="post" space-y="8">
    <header class="post_title">
      <h2 mt="2">
        <a href='{{ .RelPermalink }}'
           text="2xl gray-900"
           font="serif medium"
           leading="snug"
           decoration="none">
          {{ .Title }}
        </a>
      </h2>
    </header>

    <div class="post_meta" 
         flex="~ items-center"
         text="sm gray-500">
      <time datetime="{{ .Date.Format "2006-01-02" }}"
            font="mono">
        {{ .Date.Format "2006.01.02" }}
      </time>
      {{ with .Params.tags }}
      <div flex="~ gap-2 items-center" ml="4">
        {{ range . }}
        <a href="{{ "tags" | absURL }}/{{ . | urlize }}/"
           text="sm gray-500 hover:gray-700"
           decoration="none">
          #{{ . }}
        </a>
        {{ end }}
      </div>
      {{ end }}
    </div>

    <div class="post-content markdown" 
         text="gray-800"
         leading="relaxed"
         font="sans"
         mt="8">
      {{ .Content }}
    </div>
  </article>
</div>
{{ end }}