{{ define "main" }}
  <div class="content" p="sm:4 md:6 lg:8">
    <div class="page_tags" space-y="12">
      <h2 text="2xl gray-900" 
          font="serif medium" 
          leading="snug">
        {{ i18n "tags" }}
      </h2>

      <div class="tags_list" 
           flex="~ wrap" 
           gap="4">
        {{ $data := .Data }}
        {{ range $key, $value := .Data.Terms.ByCount }}
          {{ if ($value.Name) }}
            <a href="{{ $data.Plural | absURL }}/{{ $value.Name | urlize }}"
               text="gray-900 hover:gray-600"
               decoration="none"
               border="~ gray-200"
               rounded="lg"
               p="2 4"
               flex="~ items-center"
               gap="2">
              {{ $value.Name }}
              <span text="xs gray-500" 
                    font="mono">
                {{ $value.Count }}
              </span>
            </a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
