{{- define "main" }}
  <div class="content" p="sm:4 md:6 lg:8">
    <div class="page_tags" space-y="8">
      <h2 text="2xl gray-900" 
          font="serif medium" 
          leading="snug">
        {{- i18n "tags" }}
      </h2>

      <div class="tags_list" 
           flex="~ wrap" 
           gap="4">
           {{- $terms := .Site.Taxonomies.tags }}
           {{- range $key, $pages := $terms }}
             {{- $nonDraftPages := where $pages "Draft" "ne" true }}
             {{- if gt (len $nonDraftPages) 0 }}
               <a href="{{ "tags" | absURL }}/{{ $key | urlize }}"
                  text="gray-900 hover:gray-600"
                  decoration="none"
                  border="~ gray-200"
                  rounded="lg"
                  p="2 4"
                  flex="~ items-center"
                  gap="2">
                 {{- $key }}
                 <span text="xs gray-500" 
                       font="mono">
                   {{- len $nonDraftPages }}
                 </span>
               </a>
          {{- end }}
        {{- end }}
      </div>
    </div>
  </div>
{{- end }}
