<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author"
    content="{{- if .Params.author }}{{- .Params.author | safeHTML }}{{- else }}{{- .Site.Params.Author.name | safeHTML }}{{- end }}" />
{{- $title := ( .Title ) }}
{{- range .Site.Menus.main }}
  {{- if eq (lower .Identifier) (lower $title) }}
    {{- $title = i18n .Identifier }}
  {{- end }}
{{ end }}
{{- $siteTitle := ( .Site.Title ) }}
{{- if .IsHome }}
    <title>{{- $siteTitle }} {{- if isset .Site.Params "subtitle" }}｜ {{- .Site.Params.Subtitle }}{{- end }} </title>
{{- else }}
    <title>{{- $title }} ｜ {{- $siteTitle }}</title>
{{- end }}
<!-- description & keywords -->
{{- if .Description }}
<meta name="description" content="{{- .Description | safeHTML }}" />
{{- else if .IsPage }}
<meta name="description" content="{{- .Summary | plainify }}" />
{{- else if .Site.Params.description }}
<meta name="description" content="{{- .Site.Params.description | safeHTML }}" />
{{- end }}


{{- if .Keywords }}
{{- $length := len .Keywords | add -1 }}
<meta name="keywords"
    content="{{- range $index, $element := .Keywords }}{{- $element | safeHTML }}{{- if ne $index $length }}, {{- end }}{{- end }}" />
{{- else if .Site.Params.keywords }}
{{- $length := len .Site.Params.keywords | add -1 }}
<meta name="keywords"
    content="{{- range $index, $element := .Site.Params.keywords }}{{- $element | safeHTML }}{{- if ne $index $length }}, {{- end }}{{- end }}" />
{{- end }}

{{- with .OutputFormats.Get "rss" }}
{{- printf `
<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{- end }}

{{- with resources.Get "favicon.ico" }}
<link rel="icon" type="image/x-icon" href="{{ .RelPermalink }}" />
{{- end }}

{{- partialCached "head/css.html" . }}
{{- partialCached "head/js.html" . }}