<header class="header" h="200px" w="full" box="border" flex="~ col gap-2.5" items="end" justify="center">
  <div class="site_title_container" lg:write-vertical-left>
    <h1 class="site_title" mr="3">
      <a href="{{ .Site.Home.Permalink }}" text="4xl gray-900 bottom" font="serif" tracking="wider" decoration="none"
        display="block">
        {{ .Site.Title }}
      </a>
    </h1>
    {{ with .Site.Params.subtitle }}
    <span text="xl gray-500 bottom" font="serif" tracking="wide" pt="1">
      {{ . }}
    </span>
    {{ end }}
  </div>
</header>